@import "tailwindcss";

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-wght.woff2') format('woff2');
  font-weight: 100 900; /* full range */
  font-style: normal;
  font-display: swap;
  /* font-display: block; */
}

@theme {
  --font-sans: Geist, sans-serif, System-ui, ui-sans;
}